<header class="navbar navbar-expand navbar-light bg-gradient" style="background-color: var(--tf-page-bg-color); border-bottom: 2px solid var(--light-tropical-green);">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" style="color: var(--banana-leaf-green);">{{ site.data.bio.basics.name }}</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}" style="color: var(--dark-banana-leaf-green);">Projects</a>
        <a class="nav-link" href="{{ '/#essays' | prepend: site.baseurl }}" style="color: var(--dark-banana-leaf-green);">Essays</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}" style="color: var(--dark-banana-leaf-green);">Resume</a>
      </ul>
    </div>
  </div>
</header>
